<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <% if current_user.id == @post.user_id %>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    <br>
    <%= link_to "Delete this Post", 
        post_path,
        data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %> 
  <% end %>
  <br>
  <%= link_to "Back to posts", posts_path %>
</div>
